.table {
  margin-bottom: 50px;
  width: 100%;
  background: rgb(0, 0, 0);
  font: 14px 'Times New Roman', sans-serif;
  color: #fff;

  th {
    width: 33.3%;
    text-transform: uppercase;
    border-right: 1px solid #fff;

    &:last-child {
      border-right: 0;
    }
  }
}