.table {
  margin-bottom: 50px;
  width: 100%;
  font: 14px 'Times New Roman', sans-serif;
  color: #fff;

  thead {
    background: rgb(0, 0, 0);

    th {
      width: 33.3%;
      text-transform: uppercase;
      border-right: 1px solid #fff;

      &:last-child {
        border-right: 0;
      }
    }
  }
}